@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center" style="background-image: url('background.jpg'); background-size:cover">*@
<div class="text-center setCenter" style="background-image: url('/img/background.jpg'); height:500px; margin:0; background-repeat:no-repeat; background-size:cover; display:flex; flex-direction:column;">
    <h1 class="display-4">Welcome</h1>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
    <p><a asp-controller="Home" asp-action="Login">로그인</a></p>
    <p><a asp-controller="Home" asp-action="LoginTest">회원가입</a></p>
</div>
<a>
    <h1>
        로그인중 : @Context.Session.GetString("User")
    </h1>
</a>